body {
    font-family: 'EB Garamond', serif;
}

.btn {
    background: #B68C5A;
}

.banner {
    background-image: url(images/banner.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 100px;
    margin-bottom: 130px;
}

.legal-area {
    margin-bottom: 100px;
}

.carousal-text {
    padding-bottom: 120px;
}

/* footer-section */
footer {
    margin-top: 120px;
}